.card {
    background-color: white;
    display: flex;
    padding: 16px;
    border-radius: 32px;
    justify-content: space-between;
}

.card span {
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;

}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}
  
.search-bar {
  display: flex;
  align-items: center;
  padding: 10px; 
  margin-bottom: 20px; 
  border-radius: 32px; 
}
  
.search-bar input {
    flex: 1; 
    padding: 10px; 
    margin-right: 10px; 
    border-radius: 32px; 
}
  
.search-bar button {
    padding: 10px 20px; 
    font-size: 16px; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #000000; 
    color: #ffffff; 
    background-color: #000000; 
    border-radius: 32px; 
}
  
.add-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid gray; /* Cor da borda */
    color: white; /* Cor do texto */
    background-color: black; /* Cor de fundo */
    border-radius: 32px; /* Borda arredondada */
}
