.card {
    background-color: white;
    display: flex;
    padding: 16px;
    border-radius: 32px;
    justify-content: space-between;
}

.card span {
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;

}

.add-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid gray; /* Cor da borda */
    color: white; /* Cor do texto */
    background-color: black; /* Cor de fundo */
    border-radius: 32px; /* Borda arredondada */
}
