.destaque {
    background-color: white;
    color: black; 
    justify-content: space-between;
    padding: 16px; 
    border-radius: 32px;
    line-height: 1.5;
}
.section {
    margin: 20px; 
    padding: 10px; 
    border: 1px solid #ccc; 
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #000000;
    color: #ffffff;
    background-color: #000000;
    border-radius: 32px;
    margin-top: 10px;
    text-align: center;
  }